#mainContainer {
	width: 1024px;
	height: 600px;
	float: none;
	padding-top: 25px;   
    margin: 0 auto;
}

#importContainer {
	position: fixed;
	width: 1024px;
	height: 100%;
    margin: -25px auto;
	z-index: 999;
}

#scriptFileImport {
	width:100%;
	height:100%;
	float:left;
	font-size:26pt;
	text-align: middle;
	background-color:#33CCCC;
	color:#FFFFFF;
	border: dashed thick lightblue;
}

#addonFileImport {
	width:50%;
	height:100%;
	float:left;
	background-color:#33CCCC;
	border: dashed thick lightblue;
}

#listContainer {
	width: 100%;
	float: left;
}

#listContainer {
	width: 29.296875%;
	float: left;
	height: 100%;
}
#listContainer select {
	width: 100%;
	height: 100%;
}
input[type="search"] {
	width: 100%;
}
#fieldContainer {
	width: 66.23828125%;
	height: 100%;
	padding-left: 1.46484375%;
	float: left;
	overflow: auto;
}
#entryform {
	transition:0.5s linear all;
	background: white;
}
#entryform input.ng-invalid {
	transition:0.5s linear all;
	border: solid thick #CC5555 !important;
}

#RulesList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

#RulesList li:hover{
	cursor: pointer;
	background-color: #CCCCFF;
}

.typeAheadBox {
	list-style-type: none;
	position: fixed;
	z-index: 99;
	margin: 0;
	padding: 0;
	background-color: white;
}

.typeAheadBox li {
	border-left: solid thin black;
	border-right: solid thin black;
	border-bottom: solid thin black;
}

.typeAheadBox li:hover {
	cursor: pointer;
	background-color: #CCCCFF;
	
}

.hide {
	display:none;
}
.hover {
	background-color: green;
}
.row {
	margin-right: auto !important;
	margin-left: auto !important;
}

.list-fade {
	transition:0.25s linear all;
	opacity: 1;
}
.list-fade.ng-enter {
	transition:0.25s linear all;
	opacity: 0;
}
.list-fade.ng-enter.ng-enter-active {
	opacity:1;
}
.list-fade.ng-leave {
	transition:0.25s linear all;
	opacity:1;
}
.list-fade.ng-leave.ng-leave-active {
	opacity:0;
}