<!DOCTYPE html>
<html ng-app="evmoe">
	<head>
		<title>EventMaster Web Editor</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script type="text/javascript" src="js/addons.js"></script>
	</head>
	<body onload="LoadFromURL()">
		<div id="mainContainer" ondragover="DragOver(event)" ondragstart="ShowDropZones(event)" ondrop="HideDropZone(event)" ng-controller="main">
			<div id="importContainer" class="hide">
				<div id="scriptFileImport">
					Drag any addon files you have here first. Then drag script files here.
				</div>
			</div>
			<div id="toolContainer">
				<button ng-click="ExportFile()">Export to Engine</button>
				<button id="importButton" class="hide" ng-click="ImportFile()">Import from Engine</button>
				<div>Import: Drag any addon files you have here first. Then drag script files here.</div>
			</div>
			<div id="listContainer">
				<input type="search" ng-model="query" placeholder="Full Text Search"></input>
				<ul id='RulesList'>
					<li class="list-fade" ng-repeat="rule in rules | filter:query as results track by rule.id" ng-click="SelectRule($index)">
						{{rule.name == '' ? rule.id : rule.name}}
					</li>
				</ul>
				<button ng-click="AddRule();">Add</button>
				<button ng-click="RemoveRule(rules[selected])">Remove</button>
			</div>
			<div id="fieldContainer" class="container">
				<form name="entryform" id='entryform' novalidate>
					<div class='row form-group'>
						<label id='ruleName'>Name</label>
						<input ng-model='rules[selected].name' type='text' class='form-control' aria-describedby='ruleName' />
					</div>
					<div class='row form-group'>
						<label id='ruleTarget'>Target</label>
						<input ng-model='rules[selected].target' ng-keydown='showTATargets = true' ng-blur='HideTypeAhead($event)' ng-focus='ShowTypeAhead($event)' type='text' class='form-control' aria-describedby='ruleTarget' required/>
						<ul class="typeAheadBox" ng-show="showTATargets" style="top: {{taTop}}px; left: {{taLeft}}px; width: {{taWidth}}px;">
							<li ng-repeat="target in targets | startsWith: rules[selected].target" ng-click="rules[selected].target = target">{{target}}</li>
						</ul>
					</div>
					<div class='row form-group'>
						<label id='ruleConcept'>Concept</label>
						<input ng-model='rules[selected].concept' ng-keydown='showTAConcepts = true' ng-blur='HideTypeAhead($event)' ng-focus='ShowTypeAhead($event)' type='text' class='form-control' aria-describedby='ruleConcept' required />
						<ul class="typeAheadBox" ng-show="showTAConcepts" style="top: {{taTop}}px; left: {{taLeft}}px; width: {{taWidth}}px;">
							<li class="selectable-item" ng-repeat="concept in concepts | startsWith: rules[selected].concept" ng-click="rules[selected].concept = concept">{{concept}}</li>
						</ul>
					</div>
					<div class='row form-group'>
						<div class="row">
							<label id='ruleCriteria'>Criteria</label>
						</div>
						<div class="row" ng-repeat="criteria in rules[selected].criteria">
							<div class="col-xs-5"><input type="text" class="criteria-name form-control" ng-model="criteria.name" ng-blur='HideTypeAhead($event,$index)' ng-keydown='ShowTypeAhead($event,$index)' ng-focus='ShowTypeAhead($event,$index)' /></div>
							<ul class="typeAheadBox" ng-show="criteriaTAShowing == $index" style="top: {{taTop}}px; left: {{taLeft}}px; width: {{taWidth}}px;">
								<li ng-repeat="variable in variables | startsWith: criteria.name" ng-click="criteria.name = variable">{{variable}}</li>
							</ul>
							<div class="col-xs-2"><select class="criteria-op form-control" ng-model="criteria.op"><option ng-repeat="c_op in ['','=','!=','<','<=','>','>=']" ng-selected="{{criteria.op == c_op}}">{{c_op}}</option></select></div>
							<div class="col-xs-3"><input type="text" class="criteria-value form-control" ng-model="criteria.value" /></div>
							<div class="col-xs-2"><button ng-click="RemoveCriteria(selected,criteria)">Remove</button></div>
						</div>
						<div class="row">
							<div class="col-xs-4"><button ng-click="AddCriteria(selected)">Add Criteria</button></div>
						</div>
					</div>
					<div class='row form-group'>
						<label id='ruleSource'>Source</label>
						<input ng-model='rules[selected].response.source' type='text'  ng-keydown='showTASources = true' ng-blur='HideTypeAhead($event)' ng-focus='ShowTypeAhead($event)' class='form-control' aria-describedby='ruleSource' />
						<ul class="typeAheadBox" ng-show="showTASources" style="top: {{taTop}}px; left: {{taLeft}}px; width: {{taWidth}}px;">
							<li ng-repeat="actor in targets | startsWith: rules[selected].response.source" ng-click="rules[selected].response.source = actor">{{actor}}</li>
						</ul>
					</div>
					<div class='row form-group'>
						<div class="row">
							<label id='responseMemory'>Remember After Processing</label>
						</div>
						<div class="row" ng-repeat="mem in rules[selected].response.remember">
							<div class="col-xs-5"><input ng-model='mem.name' type='text' class='remember-name form-control' aria-describedby='responseMemory' placeholder="variable name" ng-blur='HideTypeAhead($event,$index)' ng-keydown='ShowTypeAhead($event,$index)' ng-focus='ShowTypeAhead($event,$index)' /></div>
							<ul class="typeAheadBox" ng-show="rememberTAShowing == $index" style="top: {{taTop}}px; left: {{taLeft}}px; width: {{taWidth}}px;">
								<li ng-repeat="variable in variables | startsWith: mem.name" ng-click="mem.name = variable">{{variable}}</li>
							</ul>
							<div class="col-xs-5"><input ng-model='mem.value' type='text' class='remember-name form-control' aria-describedby='responseMemory' placeholder="value" /></div>
							<div class="col-xs-2"><button ng-click="RemoveMemory(selected,mem)">Remove</button></div>
						</div>
						<div class="row">
							<div class="col-xs-4"><button ng-show="showMemoryAdd(selected,mem)" ng-click="AddMemory(selected)">Add Memory</button></div>
						</div>
					</div>
					<div class='row form-group' ng-repeat="addonData in addons">
						<div class="row">
							<label id='addon_{{addonData.keyword}}'>{{addonData.keyword|capitalize}}</label>
						</div>
						<div class="row">
							<div class="row" ng-repeat="value in rules[selected].response.addonStorage[addonData.keyword] track by $index" ng-show="addonData.multiple">
								<div class="col-xs-10"><input ng-model='value.value' type='text' class='form-control' aria-describedby='addon_{{addonData.keyword}}' placeholder='Example: {{addonData.helper}}'/></div>
								<div class="col-xs-2"><button ng-click="RemoveAddonValue(selected,addonData.keyword,value)">Remove</button></div>
							</div>
							<div class="row" ng-show="addonData.multiple">
								<div class="col-xs-4"><button ng-show="showAddonValueAdd(selected,addonData.keyword,value)" ng-click="AddAddonValue(selected,addonData.keyword)">Add {{addonData.keyword|capitalize}}</button></div>
							</div>
							<input ng-model='rules[selected].response.addonStorage[addonData.keyword]' type='text' class='form-control' aria-describedby='addon_{{addonData.keyword}}' placeholder='Example: {{addonData.helper}}' ng-show="!addonData.multiple" />
						</div>
					</div>
					<div class='row form-group'>
						<div class="row">
							<label id='responseThen'>Then</label>
						</div>
						<div class="row">
							<div class="col-xs-6"><input ng-model='rules[selected].response.then.target' type='text' class='form-control' aria-describedby='responseThen' placeholder="target" /></div>
							<div class="col-xs-6"><input ng-model='rules[selected].response.then.concept' type='text' class='form-control' aria-describedby='responseThen' placeholder="concept" /></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript">
			var Base64 = {


				_keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",


				encode: function(input) {
					var output = "";
					var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
					var i = 0;

					input = Base64._utf8_encode(input);

					while (i < input.length) {

						chr1 = input.charCodeAt(i++);
						chr2 = input.charCodeAt(i++);
						chr3 = input.charCodeAt(i++);

						enc1 = chr1 >> 2;
						enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
						enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
						enc4 = chr3 & 63;

						if (isNaN(chr2)) {
							enc3 = enc4 = 64;
						} else if (isNaN(chr3)) {
							enc4 = 64;
						}

						output = output + this._keyStr.charAt(enc1) + this._keyStr.charAt(enc2) + this._keyStr.charAt(enc3) + this._keyStr.charAt(enc4);

					}

					return output;
				},


				decode: function(input) {
					var output = "";
					var chr1, chr2, chr3;
					var enc1, enc2, enc3, enc4;
					var i = 0;

					input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

					while (i < input.length) {

						enc1 = this._keyStr.indexOf(input.charAt(i++));
						enc2 = this._keyStr.indexOf(input.charAt(i++));
						enc3 = this._keyStr.indexOf(input.charAt(i++));
						enc4 = this._keyStr.indexOf(input.charAt(i++));

						chr1 = (enc1 << 2) | (enc2 >> 4);
						chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
						chr3 = ((enc3 & 3) << 6) | enc4;

						output = output + String.fromCharCode(chr1);

						if (enc3 != 64) {
							output = output + String.fromCharCode(chr2);
						}
						if (enc4 != 64) {
							output = output + String.fromCharCode(chr3);
						}

					}

					output = Base64._utf8_decode(output);

					return output;

				},

				_utf8_encode: function(string) {
					string = string.replace(/\r\n/g, "\n");
					var utftext = "";

					for (var n = 0; n < string.length; n++) {

						var c = string.charCodeAt(n);

						if (c < 128) {
							utftext += String.fromCharCode(c);
						}
						else if ((c > 127) && (c < 2048)) {
							utftext += String.fromCharCode((c >> 6) | 192);
							utftext += String.fromCharCode((c & 63) | 128);
						}
						else {
							utftext += String.fromCharCode((c >> 12) | 224);
							utftext += String.fromCharCode(((c >> 6) & 63) | 128);
							utftext += String.fromCharCode((c & 63) | 128);
						}

					}

					return utftext;
				},

				_utf8_decode: function(utftext) {
					var string = "";
					var i = 0;
					var c = c1 = c2 = 0;

					while (i < utftext.length) {

						c = utftext.charCodeAt(i);

						if (c < 128) {
							string += String.fromCharCode(c);
							i++;
						}
						else if ((c > 191) && (c < 224)) {
							c2 = utftext.charCodeAt(i + 1);
							string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
							i += 2;
						}
						else {
							c2 = utftext.charCodeAt(i + 1);
							c3 = utftext.charCodeAt(i + 2);
							string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
							i += 3;
						}

					}

					return string;
				}

			}

			var QueryString = function () {
			  // This function is anonymous, is executed immediately and
			  // the return value is assigned to QueryString!
			  var query_string = {};
			  var query = window.location.search.substring(1);
			  var vars = query.split("&");
			  for (var i=0;i<vars.length;i++) {
				var pair = vars[i].split("=");
					// If first entry with this name
				if (typeof query_string[pair[0]] === "undefined") {
				  query_string[pair[0]] = pair[1];
					// If second entry with this name
				} else if (typeof query_string[pair[0]] === "string") {
				  var arr = [ query_string[pair[0]], pair[1] ];
				  query_string[pair[0]] = arr;
					// If third or later entry with this name
				} else {
				  query_string[pair[0]].push(pair[1]);
				}
			  }
				return query_string;
			} ();

			function LoadFromURL()
			{
				var controllerElement = document.querySelector('#mainContainer');
				var controllerScope = angular.element(controllerElement).scope();
				controllerScope.$apply(function() {
					controllerScope.addons = addonData;
				});
				if (window.location.search != null)
				{
					if (QueryString.script != null)
					{
						controllerScope.$apply(function() {
							controllerScope.ImportFile(Base64.decode(QueryString.script));
						});
					}
				}
			}
		</script>
	</body>
</html>
